/* src/components/PacienteList.css */
.paciente-list-container {
    overflow-x: auto; /* Para tabelas grandes em telas pequenas */
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.paciente-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.paciente-table th,
.paciente-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.paciente-table th {
    background-color: #e9ecef; /* Cinza claro */
    font-weight: bold;
    color: #495057;
}

.paciente-table tr:nth-child(even) {
    background-color: #f8f9fa; /* Listras zebradas */
}

.paciente-table tr:hover {
    background-color: #e2f2ff; /* Destaque ao passar o mouse */
}

.paciente-table .actions-column button {
    background-color: #ffc107; /* Amarelo para Editar */
    color: #333;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85em;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.paciente-table .actions-column button:hover {
    background-color: #e0a800;
}

.paciente-table .actions-column .delete-button {
    background-color: #dc3545; /* Vermelho para Remover */
    color: white;
}

.paciente-table .actions-column .delete-button:hover {
    background-color: #c82333;
}